.container {
    display: flex;
    flex-direction: column;
}

.input {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: center;
    caret-color: black;
    outline: none;
    background-color: white;
    border: 3px solid white;
    border-top: 1px solid white;
    border-radius: 0px 0px 4px 4px;
}

.button {
    display: flex;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    user-select: none;
    color: white;
    font-weight: bold;
    background-color: red;
    border: 3px solid white;
    border-radius: 4px 4px 4px 4px;

    transition: all 1s;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(228, 32, 32);
    transition: background-color 1s;
}

.button:active {
    background-color: rgb(180, 0, 0);
    transition: none;
}

.inactive {
    color: rgba(255, 255, 255, 0.4);
    text-shadow: none;
    border: 3px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 0, 0, 0.2);
}

.inactive:hover, .inactive:active {
    cursor: default;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: none;
    border: 3px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 0, 0, 0.2);
}

.suggested {
    overflow: hidden;
}

.suggested table {
    background-color: rgba(128, 128, 128, 0.6);
    border: 3px solid white;
    border-radius: 5px 5px 0px 0px;
    padding: 2px 0px 0px 2px;
}

.suggested table, thead {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.suggested thead {
    overflow-y: scroll;
    overflow-x: hidden;
}

.suggested tbody {
    display: flex;
    flex-direction: column;
    height: 29vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}

.suggested tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.suggested td {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 94px;
    overflow-wrap: break-word;
}

.head tr {
    color: white;
    font-weight: bold;
    height: fit-content;
}

.head td {
    padding-bottom: 4px;
    margin: 2px;
    border-radius: 5px;
    background-color: red;
}

.body {
    font-weight: bold;
}

.body td {
    height: 100px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.body tr:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 2px red;
    border-radius: 5px;
    transition: background-color 1s;
}

.body tr:active {
    background-color: rgb(180, 0, 0, 0.6);
    transition: none;
}

.pokemon {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 12px;
}

@media screen and (max-width: 1223.5px) {
    .pokemon {
        font-size: 12px;
    }
}

.pokemon img {
    height: 75px;
    object-fit: contain;
    margin: -4px;
}

.message, .loading {
    display: flex;
    flex-direction: column;
    height: 29vh;
}

.message:hover, .loading:hover {
    cursor: default !important;
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
}

.message:active, .loading:active {
    background-color: rgba(128, 128, 128, 0.6) !important;
}

.message td, .loading td {
    height: 100%;
    width: 99.7%;
    display: flex;
    flex-direction: column;
    background: none;
}

.loading img {
    height: 75px;
    animation: spin 2s linear infinite;
}

.loading td::after {
    content: "Loading";
    animation: dots 3s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes dots {
    0% { content: "Loading"; }
    34% { content: "Loading."; }
    67% { content: "Loading.."; }
    100% { content: "Loading..."; }
}

.types {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}