.guessTable table {
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    padding-right: 2px;
}

.guessTable table, thead {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.guessTable thead {
    overflow-y: scroll;
    overflow-x: hidden;
}

.guessTable tbody {
    display: flex;
    flex-direction: column;
    height: 47vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 1px;
}

.guessTable tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.guessTable td {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 94px;
    overflow-wrap: break-word;
}

.head tr {
    color: white;
    font-weight: bold;
    height: fit-content;
}

.head td {
    padding-bottom: 4px;
    margin: 2px;
    border-radius: 5px;
    background-color: red;
}

.body {
    font-weight: bold;
}

.body td {
    height: 100px;
    margin: 2px;
    border-radius: 5px;
    background-color: white;
}

.message {
    display: flex;
    flex-direction: column;
    height: 47vh;
}

.message td {
    height: 100%;
    width: 99.7%;
    display: flex;
    flex-direction: column;
}

.pokemon {
    display: flex;
    flex-direction: column;
    font-size: small;
    line-height: 12px;
}

.pokemon img {
    height: 75px;
    object-fit: contain;
}