.guessTable table {
    background-color: rgba(128, 128, 128, 0.6);
    border: 3px solid white;
    border-radius: 5px;
    padding: 2px 0px 0px 2px;
}

.guessTable table, thead {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.guessTable thead {
    overflow-y: scroll;
    overflow-x: hidden;
}

.guessTable tbody {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}

.guessTable tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.guessTable td {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 94px;
    overflow-wrap: break-word;
}

.head tr {
    color: white;
    font-weight: bold;
    height: fit-content;
}

.head td {
    padding-bottom: 4px;
    margin: 2px;
    border-radius: 5px;
    background-color: red;
}

.body {
    font-weight: bold;
}

.body td {
    height: 100px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.message {
    display: flex;
    flex-direction: column;
    height: 47vh;
}

.message td {
    height: 100%;
    width: 99.7%;
    display: flex;
    flex-direction: column;
    background: none;
}

.pokemon {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 12px;
}

@media screen and (max-width: 1223.5px) {
    .pokemon {
        font-size: 12px;
    }
}

.pokemon img {
    height: 75px;
    object-fit: contain;
    margin: -4px;
}