html, body, div#root {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: red;
  border: 1px solid black;
  border-radius: 8px;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5vh 2vw;
  text-align: center;
}
