::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: red;
  border: 1px solid black;
  border-radius: 8px;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 1vh 2vw;
  text-align: center;
}
